body,
#global {
	margin: 0; 
	padding: 0;
	font: 11pt "Arial", Verdana, sans-serif;
	background: white;
}

a, a:visited {
	color: black;
}

a:hover, a:visited:hover, a:active {
	color: red;
}

#global_header {
	background: #202020;
	padding: 0 0 0 5px;
}

#global_header ul {
	width: 300px;
	margin: 0;
	padding: 0;
}

#global_header ul li {
	float: left;
	width: 80px;
	list-style-type: none;
}

#global_header ul li a, 
#global_header ul li a:visited,
#global_header div.spacer {
	display: block;
	padding: 3px;
	text-align: center;
	color: #E0E0E0;
	text-decoration: none;
	border-bottom: 3px solid #202020;
}
#global_header div.spacer {
	font-weight: bold;
}

#global_header ul li a.current,
#global_header ul li a.current:hover {
	color: white;
	font-weight: bold;
	border-color: #DB4A38;
}

#global_header ul li a:hover {
	background: gray;
	border-color: gray;
}

#global_header div.user {
	float: right;
	color: #E0E0E0;
	padding: 5px;
	font-size: 0.9em;
}

#global_footer {
	padding: 1em 1em 0 0;
	font-size: x-small;
	text-align: right;
}

#header {
	border-bottom: 1px solid #E0E0E0;
	background: #F0F0F0;
	padding: 10px;
}

#global_content {
	clear: both;
}

#global_content div.patient {
	float: left;
	margin-top: 5px;
	margin-left: 5px;
}

#global_content div.patient h3 {
	color: #DB4A38;
}
