body,
#global {
	margin: 0; 
	padding: 0;
	font: 11pt "Arial", Verdana, sans-serif;
	background: #F0F0F0;
}

a, a:visited {
	color: black;
}

a:hover, a:visited:hover, a:active {
	color: red;
}

h1, h2, h3 {
	margin: 0;
	padding: 0.5em;
	color: #DB4A38;
}

input, select, textarea {
	font-family: "Arial", Verdana, sans-serif;
	border: 1px solid gray;
	border-radius: 3px;
}

input:focus, select:focus, textarea:focus {
	border: 1px solid black;
}

#global_header {
	background: #202020;
	padding: 0 0 0 5px;
}

#global_header ul {
	width: 300px;
	margin: 0;
	padding: 0;
}

#global_header ul li {
	float: left;
	width: 80px;
	list-style-type: none;
}

#global_header ul li a, 
#global_header ul li a:visited,
#global_header div.spacer {
	display: block;
	padding: 3px;
	text-align: center;
	color: #E0E0E0;
	text-decoration: none;
	border-bottom: 3px solid #202020;
}
#global_header div.spacer {
	font-weight: bold;
}

#global_header ul li a.current,
#global_header ul li a.current:hover {
	color: white;
	font-weight: bold;
	border-color: #DB4A38;
}

#global_header ul li a:hover {
	background: gray;
	border-color: gray;
}

#global_header div.user {
	float: right;
	color: #E0E0E0;
	padding: 5px;
	font-size: 0.9em;
}

#global_footer {
	padding: 1em 1em 0 0;
	font-size: x-small;
	text-align: right;
	border-top: 1px solid #E0E0E0;
	background: #F0F0F0;
}

#header {
	padding: 10px;
	border-bottom: 1px solid #E0E0E0;
	background: #F0F0F0;
}

#global_content {
	clear: both;
	background: white;
}

#global_content div.patient {
	float: left;
	width: 250px;
	padding: 5px;
}

#global_content div.events {
	padding: 10px;
	margin-left: 260px;
	border-left: 1px solid #E0E0E0;
}

#global_content div.events div.panel {
	padding: 5px;
	background: #F0F0F0;
	border: 1px solid #E0E0E0;
	border-radius: 5px;
}

#global_content div.event {
	position: relative;
}

#global_content div.event article {
	margin: 5px 0 0 0;
	padding: 5px;
	border: 1px solid #E0E0E0;
	border-radius: 5px;
}

#global_content div.event article header {
	/*color: white;*/
}

#global_content div.event article header div.date {
	position: absolute;
	width: 50px;
}

#global_content div.event article header div.date div.year {
	height: 15px;
	display: block;
	text-align: center;
	font-size: 0.8em;
	font-weight: bold;
	color: white;
	background: #DB4A38;
	border-top-left-radius: 5px;
}

#global_content div.event article header div.date div.day {
	height: 23px;
	background: white;
	font-size: 0.8em;
	font-weight: bold;
	text-align: center;
	border: 1px solid #E0E0E0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#global_content div.event article header div.title {
	margin: 0 0 0 55px;
	padding: 0;
	height: 40px;
	font-size: 1em;
	font-weight: bold;
	color: black;
}

#global_content div.event article header div.title h1 {
	padding: 0;
	font-size: 1em;
	font-weight: bold;
	color: black;
}

#global_content div.event article header div.title div.consultant {
	font-size: 0.8em;
	color: #535353;
}

#global_content div.event article p {
	display: block;
	font-size: 0.8em;
	color: #535353;
}

#global_content div.event article footer {
	display: block;
	font-size: 0.8em;
	font-weight: bold;
	border-top: 1px solid #E0E0E0;
}

#global_content div.event article footer a {
	font-weight: bold;
	text-decoration: none;
}

#global_content form.event div.field.error input, 
#global_content form.event div.field.error textarea,
#global_content form.event div.field.error select {
	border: 1px solid red;
	background: #F2AEAE;
}

.error {
	color: red;
}

#global_content div.patient div.panel {
	margin: 5px;
	padding: 5px;
	height: 350px;
	background: #F0F0F0;
	border: 1px solid #E0E0E0;
	border-radius: 5px;
}

#global_content div.patient div.panel div.firstname,
#global_content div.patient div.panel div.lastname,
#global_content div.patient div.panel div.birthdate,
#global_content div.patient div.panel div.address,
#global_content div.patient div.panel div.zip,
#global_content div.patient div.panel div.city {
	font-weight: bold;
}

/*#global_content div.event {
	position: relative;
}

#global_content div.event article {
	margin: 5px 0 0 0;
	border-radius: 5px;
}

#global_content div.event article header {
	color: white;
}

#global_content div.event article header h1 {
	margin: 0 0 0 52px;
	padding: 0;
	height: 40px;
	overflow: hidden;
	font-size: 1em;
	font-weight: bold;
	color: black;
	background: #F0F0F0;
	border-top: 1px solid #E0E0E0;
	border-right: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	border-top-right-radius: 5px;
}

#global_content div.event article header div.date {
	position: absolute;
	width: 50px;
	height: 40px;
	background: #DB4A38;
	border-top-left-radius: 5px;
	border: 1px solid #DB4A38;
}

#global_content div.event article header div.year {
	display: block;
	margin: 12px 0 0 -22px;
	line-height: 16px;
	font-size: 1em;
	text-align: center;
	transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
}

#global_content div.event article div.date div.day {
	float: right;
	margin: -25px 5px 0 25px;
	font-size: 0.8em;
	font-weight: bold;
	text-align: center;
}

#global_content div.event article div.date div.day span {
	display: block;
	text-align: center;
}

#global_content div.event article p {
	display: block;
	margin: 0;
	font-size: 0.8em;
	border-right: 1px solid #E0E0E0;
	border-left: 1px solid #E0E0E0;
}

#global_content div.event article footer {
	display: block;
	font-style: italic;
	font-size: 0.8em;
	background: #F0F0F0;
	border-bottom: 1px solid #E0E0E0;
	border-right: 1px solid #E0E0E0;
	border-left: 1px solid #E0E0E0;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#global_content div.event article footer a {
	float: right;
	font-style: normal;
	text-decoration: none;
}

#global_content div.event span.consultant,
#global_content div.event div.description  {
	padding: 0;
}

#global_content form.event {
	min-height: 30px;
}

#global_content form.event div.field {
	position: relative;
}

#global_content form.event div.field.error input, 
#global_content form.event div.field.error textarea,
#global_content form.event div.field.error select {
	border: 1px solid red;
	background: #F2AEAE;
}

#global_content form.event div.field .date {
	float: left;
	width: 150px;
}

#global_content form.event div.field .title {
	width: 50%;
}

#global_content form.event label {
	padding: 3px 0 0 4px;
	position: absolute;
	top: 0; left: 0;
	z-index: 1;
	color: #E0E0E0;
}

#global_content form.event input, 
#global_content form.event select {
	position: relative;
	z-index: 2;
	background: transparent;
}

#global_content form.event textarea {
	position: relative;
	z-index: 2;
	background: transparent;
	width: 90%;
}

#global_content form.event input:focus, 
#global_content form.event select:focus,
#global_content form.event textarea:focus {
	background: white;
	border-color: gray;
}
*/

